<% include header.ejs %>
	</head>
	<body>
		<% include menu %>
		<div id="content">
		<center>
			<h1>How to use this site</h1>
			<img src="main.png" alt="The main page" height="350" border="3">
			<p> The main page contains a large map of the Dartmouth College campus. You can create messageboards tied to locations on this map. </p>
			<p> First, if you have not already, create an account. This can be done by clicking the "Register" link at the top-left corner of the screen. This will prompt you to pick a username and a password. This username will be visible to other people anytime that you post a message, so choose wisely. <p>
			<img src="register.png" alt="A filled-out registration form" border="3">
			<p> Once you've clicked "Sign Up" and have created an account, you will be automatically be logged in under the username that you chose. On the main page, you'll notice that the "Register" and "Login" links have been replaced with your name. You also now have a "Logout" option.</p>
			<img src="registered.png" alt="Notice how the page has changed" height="350" border="3">
			<p>You now have two options. The first is to click on a messageboard that somebody has already created. Messageboards are indicated by a black marker.</p>
			<img src="icon.png" alt="A messageboard icon" height="50" border="3">
			<p> Your second option is to create your own messageboard. Let's do that. Pretend that I'm in Cummings Hall and have a stapler that I want to sell. I'll click on Cummings Hall to create a messageboard, and when prompted to give this messageboard a name I'll call it "Adverisements"</p>
			<img src="creating_board.png" alt="Creating a messagebaord" border="3">
			<p> This takes me back to the main page. See the icon for my new messageboard? </p>
			<img src="created_board.png" alt="The main page with a new messageboard" height="350" border="3">
			<p> Now I'll click on this icon to visit this messageboard. I'll enter my message into the box, and click "Submit".</p>
			<img src="message_posted.png" alt="A posted message" border="3">
			<p> I can return to the the main page by clicking the Dartmouth crest in the upper-left corner of the page. I can go visit and post on other messageboards, and check to see if anyone has replied to my advertisement later! </p>
		</center>


<% include footer.ejs %>