<% include header.ejs %>

<body>
	<div>
		<img id = "map" src="campus_map.jpg" alt="Campus Map" />
	</div>

	<script>
		document.getElementById('map').onclick = function() {
			alert('click!');			
			click_emitter.emit('mouse_click');
		}
	</script>

<% include footer.ejs %>