<% include header.ejs %>

<body>
	<% include menu %>

	<div id='content'>
		<div id='messages'></div>

	<form id='send-form'>
		<input id='post-message' />
		<input id='send-button' type='submit' value='Post'/>
	</form>
	</div>

<% include footer.ejs %>
