<% include header.ejs %>

<body>
	<% include menu %>

	<div id='content'>
		<div id='messages'></div>

	<form action=<%='/messageboards/' + messageboard_id %> method='/post'>
		<p>
		<input type='text' name='message' />
		</p>
		<p>
		<input id='send-button' type='submit' />
		</p>
	</form>

	</div>

<% include footer.ejs %>
