<% include header.ejs %>

<body>
	<% include menu %>

	<div id='content'>
		<div id='messages'>
			<% posts.forEach( function(post) { %>
				<div class='message'>
					<%= post.posted_by_name + ": " %>
					<br>
					<%= post.text %>
					<br>
				</div>
			<% }); %>
		</div>

	<form action=<%='/messageboards/' + messageboard_id %> method='post'>
		<p>
		<input type='text' name='message' />
		</p>
		<p>
		<input id='send-button' type='submit' />
		</p>
	</form>

	</div>

<% include footer.ejs %>
